<?xml version="1.0"?>
<launch>
  <arg name="ns" default="royale_ros"/>
  <arg name="nn" default="camera_manager"/>
  <arg name="respawn" default="true"/>

  <group ns="$(arg ns)">
    <node pkg="royale_ros"
          type="camera_manager"
          name="$(arg nn)"
          output="screen"
          respawn="$(arg respawn)">
    </node>
  </group>
</launch>
